button{
    font-size: 30px;
    background-color: blueviolet;
}

img{
    position: relative;
    height: 700px;
    width: 700px;
}

body{
    background-color: black;
}

canvas{
    position: absolute;
    top: calc(50vh - 240px);
    left: calc(50vw - 360px);
}
.start-button{
    font-size: 30px;
    background-color: blueviolet;
    position: absolute;
    top: 400px;
    left: 300px;
    z-index: 1;
}

.restart-button{
    font-size: 30px;
    background-color: blueviolet;
    position: absolute;
    top: 400px;
    left: 270px;
    z-index: 1;
}