button{
    font-size: 30px;
    //align-items: center;
}
.game-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

img{
    position: absolute;
    //top: 0px;
    //left: 0px;
    height: 700px;
    width: 700px;
}


