button{
    font-size: 30px;
    //align-items: center;
    background-color: blueviolet;
    //border: black;
}

img{
    //position: relative;
    height: 700px;
    width: 700px;
}

body{
    background-color: black;
}

.start-button{
    font-size: 30px;
    //align-items: center;
    background-color: blueviolet;
    position: absolute;
    top: 400px;
    left: 330px;
    z-index: 1;
    //border: black;
}